* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Выровняем содержимое по верхней части */
    height: 100vh;
    background-color: #f0f0f0; /* Цвет фона */
  }
  
  .container {
    text-align: center;
    margin-top: 20vh; /* Смещение содержимого на 20% вниз от верхней части */
  }
  
  h1 {
    font-size: 24px; /* Уменьшенный размер текста */
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    justify-content: center; /* Центрирование кнопок */
    gap: 20px;
  }
  
  button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #no {
    position: relative;
  }
  