* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    position: relative;
  }
  
  .center {
    text-align: center;
  }
  
  h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .emoji {
    font-size: 150px;
  }
  
  /* Стили для основной страницы */
  .container {
    text-align: center;
  }
  
  .buttons {
    display: flex;
    gap: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  #no {
    position: relative;
  }
  